{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{{title}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    {% block cdn_css %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap3.7.min.css' %}">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" rel="stylesheet">

    {% endblock cdn_css %}
    
    
   
   
</head>
<body data-spy = "scroll" class ="{{color}}">
{% block content %}{% endblock content %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>


{% endblock js %}
</body>
</html>